/* Hero Section */
.hero {
  position: relative;
  text-align: center;
  margin-top: 60px; 
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image-wrapper {
  position: relative;
  display: inline-block;
}

/* стилі для тексту SUS */
.hero-title {
  font-family: 'Inter', sans-serif;
  font-size: 260px;
  font-weight: 800;
  color: #2b2f36;
  margin: 0;
  line-height: 0.85;
  letter-spacing: 15px; 
  text-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 2;
}

.cat-doodle {
  position: absolute;
  left: -130px; 
  bottom: 0px; 
  top: auto;
  transform: none;
  width: 130px;
  pointer-events: none;
  z-index: 3;
}

.subtitle {
  margin-top: 50px;
  font-size: 18px; 
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #3a3d45;
  line-height: 1.5;
}

/* Intro Text */
.intro-text {
  font-size: 15px;
  line-height: 1.7;
  font-weight: 500;
  margin-bottom: 80px;
  max-width: 1000px; 
  text-align: left; 
  color: #3a3d45;
}